<ul class="list-group mb-4">
<li class="list-group-item">Order #{{id}}</li>
{{#each items as |item|}}
<li class="list-group-item d-flex justify-content-between"><p>{{item_name}}</p><p>${{price}}</p></li>
{{/each}}
</ul>