<header>
    <div id="menu-image">
        <a href="/"><img id="logo" src="https://cdn.discordapp.com/attachments/1004083809429508196/1005365130462236763/cafe_image.png" alt="Cafe logo"></a>
    </div> 
    <nav id="homepage-navbar" type="button" class="btn btn-outline-secondary">
            <a href="/menu">Menu</a> |
            {{#if loggedIn}}
            <a href="/confirm">My Order</a> |
            <a href="/account">My Account</a> |
            <a href="" id="logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
    </nav>
    
</header>