{{#if logged_in}}
<div id="mySidebar" class="sidebar item">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {{#each items as |item| }}
  <a>{{item_name}} - ${{price}}</a>
  {{/each}}
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">☰ Your Order</button>
</div>
{{/if}}