<section>
    <div>
        <h3> Order: {{ order.id }} has been confirmed! </h3>
        <p id="item-description">{{ item.description }}</p>
        <p id="item-price"> {{ item.price }}</p>
    </div>
</section>