
<body>
    <div class="d-flex flex-row-reverse">
        <div>
            <img id="logo" src="https://cdn.discordapp.com/attachments/1004083809429508196/1005365130462236763/cafe_image.png" alt="Cafe logo">
        </div> 
         
        <div>

        </div>
    </div>
</body>

