
<div class="outer" id="container-home">
        <div id="homepage-logo" class="inner">
            <img id="logo" src="https://cdn.discordapp.com/attachments/1004083809429508196/1005365130462236763/cafe_image.png" alt="Cafe logo">
        </div> 
        <div class="inner">
            <button id="homepage-navbar" type="button" class="btn btn-outline-secondary">
                    <a href="/menu">Menu</a> |
                    {{#if loggedIn}}
                        <a href="" id="logout">Logout</a>
                    {{else}}
                        <a href="/login">Login</a>
                    {{/if}}
            </button>
        </div>
</div>

