
<div class="position-absolute top-50 start-50 translate-middle">
    <div class = "d-flex flex-column">
        <a href="/">
            <img id="logo" src="https://cdn.discordapp.com/attachments/1004083809429508196/1005365130462236763/cafe_image.png" alt="Cafe logo">
        </a>
        <div class=" d-flex justify-content-center homeNav">
        <nav id="homepage-navbar" type="button" class="btn btn-outline-secondary">
            <a href="/menu">Menu</a> |
            {{#if loggedIn}}
            <a href="" id="logout">Logout</a>
            {{else}}
            <a href="/login">Login</a>
            {{/if}}
        </nav>
        </div>
    </div>
</div>