<div id="container" class="row">
    <div id="login-box" class="col-4">
      <form>
        <div>
          <label for="email-login" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email-input">
        </div>
        <div>
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="form-control" id="password-input">
        </div>
        <button type="submit" class="btn btn-dark">Login!</button>
      </form>
  
      <form>
          <div>
            <label for="email-signup" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-input">
          </div>
          <div>
            <label for="password-signup" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input">
          </div>
          <button type="submit" class="btn btn-dark">Sign Up!</button>
        </form>
    </div>
</div>


<script src="./js/login.js"></script
