{{> header}}
<div class="row">
    <div id="login-box" class="col-4">
        <form class="form login-form">
          <h3>Login</h3>
          <div class="form-group">
            <label for="email-login" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email-login">
          </div>
          <div>
            <label for="password-login" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-login">
          </div>
          <button id="btnlogin" type="submit" class="btn btn-dark">Login!</button>
        </form>
    </div>
  
   <div id="signup-box" class="col-4"> 
        <form class="form signup-form">
          <h3>Sign-Up</h3>
          <div>
            <label for="email-signup" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email-signup">
          </div>
          <div>
            <label for="password-signup" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-signup">
          </div>
          <button id="btnsign" type="submit" class="btn btn-dark">Sign Up!</button>
        </form>
    </div>
</div>


<script src="/js/login.js"></script


