    
{{> header}}


{{!-- <div>
    {{#each coffee.items as |items|}}
    {{> category}}
    {{/each}}
</div>

<div>
    {{#each cold.items as |item|}}
    {{> category}}
    {{/each}}
</div> --}}


    {{#each tea.items as |item|}}
    <div>
        <h3>HELLLO</h3>
    {{> category}}

    </div>
    {{/each}}


{{!-- <div>
    {{#each food.items as |item|}}
    {{> category}}
    {{/each}}
</div> --}}





{{!-- {{#each items as |item| }}
    <section id="container" class="row">
        <div id="menu-box" class="col-5">
            <div>
                {{!-- <button id="item-title">{{ item.item_name }}</button> --}}
                <h3 id="item-title">{{ item.item_name }}</h3>

            </div>
            <div>   
                <p>{{ item.item_description }}</p>
                <p> {{ item.price }}</p>
            </div>
                
            <div>
                
            </div>
        </div> 
    </section>

{{/each}}
