{{#each items as |item| }}
<section>
    <div>
        <h3 id="item-title">{{ item.item_name }}</h3>
    </div>

     <div>   

        <p id="item-description">{{ item.item_description }}</p>

        <p id="item-price"> {{ item.price }}</p>
    </div>

     <div>
        <p id="item-title">{{ item.item_name }}</p>
    </div>
</section>
{{/each}}

