{{> header}}
{{#each items as |item| }}
    <section id="container" class="row">
        <div id="menu-box" class="col-6">
            <div>
                {{!-- <button id="item-title">{{ item.item_name }}</button> --}}
                <h3 id="item-title">{{ item.item_name }}</h3>
            </div>
            <div>   
                <p id="item-description">{{ item.item_description }}</p>
                <p id="item-price"> {{ item.price }}</p>
            </div>

            <div>
                
            </div>
        </div> 
    </section>

{{/each}}

