{{> header}}
<div id="contorder" class="col-5 mx-auto justify-content-center d-grid gap-3 gap-3">
        {{#each category.items as |item|}}
        <div id="orderitem">
        <p id="item-title">{{ item_name }}</p>
        <p id="item-description">{{ item_description }}</p>
        <p id="item-price"> $ {{ price }}</p>
        <button class="addtocart"> Add to Cart </button>
        </div>
        {{/each}}
         
</div>

