/* #full-image {
    background-image: url('https://coffee.alexflipnote.dev/9EQBz-4RLvQ_coffee.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
} */
   
#full-image {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
    

#full-image::before {    
    content: "";
    background-image: url('https://coffee.alexflipnote.dev/9EQBz-4RLvQ_coffee.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.95;
}


html {
    height: 100%;
   
}

img {
    position: relative;
    font-size: 14rem;
    line-height: 0.9;
    text-align: center;
    height: 80px;
    width: 300px;
  }

