<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css"/>
</head>

<body>
    <div class="flex-column justify-space-around">
        <div>  
            <h1>
                <a href="/">The Debug Cafe!</a>
            </h1>

            <nav>
                {{#if logged_in}}
                <a href="/menu">Menu</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </div>    

        <main class="container">
     
        {{{ body }}}
        </main>
   
  </div>

 
  {{#if logged_in}}
  {{> sidebar}}
  <script src="/js/logout.js"></script>
  {{/if}}


</body>

</html>