
<form>
  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-input">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input">
  </div>
  <button type="submit" class="btn btn-primary">Login!</button>
</form>


<form>
  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-input">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-input">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up!</button>
</form>


<script src="./js/login.js"></script
