
{{#each items as |item| }}
<section>
    <button class="no-button" id="item-title">{{ item_name }}</button>
    <p id="item-description">{{ description }}</p>
    <p id="item-price"> {{ price }} </p>
</section>

<section>
    <p id="item-stock"> {{ stock }} </p>
    
</section>