
{{#each items as |item| }}
<section>
    <h3 id="item-title">{{ item.item_name }}</h3>
    <p id="item-description">{{ item.description }}</p>
    <p id="item-price"> {{ item.price }} </p>
</section>

<section>
    <p id="item-stock"> {{ item.stock }} </p>
    
</section>